.gutter-example .ant-row > div {
    border: 0;
}
.home-bottom-cord-div {
    background: #00A0E9;
    height: 120px;
}
.charts-box {
    float: left;
    background-color: #FFFFFF;
    margin-top: 20px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
}
.charts-box-right {
    float: right;
    background-color: #FFFFFF;
    margin-top: 20px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
}
.chart-title {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-left: 20px;
    line-height: 40px;
}
